<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>otra pagina</title>
    </head>
    <body>
      <h1>main html</h1>
      <form action="/directions" method="POST">
        <input name="name" type="text" required>
        <button type="submit">Send</button>
      </form>
    </body>
</html>
